.logic-editor {
  display:flex;
  justify-content:space-between;
  height: 100%;
  width: 100%;
}

textarea#the_area {
  resize: none;color:#555;font-size:16px;line-height:30px; position:relative; width:400px; border-width:0;outline:none;
  height: 80%;
}

#error_message {
  opacity:0;
  transition: opacity 0.2s;
  position:relative;width:15px;height:15px;border-radius:7.5px;background-color:#ff9b9b;margin-right:10px;margin-top:9px;
}

#error_message.shown {
  opacity:1;
}

.side-panel {
  width:25%;position:relative;border-right:1px solid silver; height:100%; text-align: left; padding: 20px 30px;
}

.side-panel.right {
  border-right: none;
  border-left: 1px solid silver;
}

.side-panel h3 {
  color: #555;
}

.side-panel ul li {
  margin: 10px 0;
  color: #555;
}

.side-panel .list-group:not(:first-child) {
  margin-top: 50px;
}

.side-panel li span:not(.used-field) {
  box-shadow: inset -240px 0 0 0 #ffffff, inset 0 -7px 0 0 rgb(70 186 248 / 35%);
  transition: 0.6s box-shadow ease;
}

.side-panel li span.used-field {
  box-shadow: inset 0 0 0 0 #ffffff, inset 0 -7px 0 0 rgb(70 186 248 / 35%);
  transition: 0.3s box-shadow ease-out;
}

.side-panel p {
  color: #555;
  line-height: 1.6em;
  margin-left: 0;
  margin: 0 auto 30px;
}

.side-panel .all-suggestions p {
  margin: 5px;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.logic-editor-footer {
  position:absolute; background-color:#85d1c1; background-color:#91c0ef;bottom:0; left:28%;height:65px;width:44%;padding:5px 20px; padding-top:10px;display:flex;justify-content: space-between; align-items:center;
}

.logic-editor-button-form {
  position: absolute;
  bottom: 45px;
  left: calc(75% - 150px);
  z-index: 1;
  border: 4px solid white;
  border-radius: 4px;
  opacity:1;
  box-shadow: 0 15px 35px 0 rgba(42,51,83,.12),0 5px 15px rgba(0,0,0,.06);
  transition: opacity 0.3s ease-out;
}

.logic-editor-button-form.disabled {
  opacity:0;
  /* border-width:0;
  box-shadow: none; */
}

.logic-editor .main-editor > div {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height:100%;
}

.zen-mode .side-panel, .zen-mode .logic-editor-footer {
  opacity: 0;
}

.side-panel, .logic-editor-footer {
  transition: 1s opacity ease;
}

/* MARKER AND OTHERS */
.input__marker p {
  margin: 5px 0;
}
.input__marker p:first-child {
  margin-top: 0;
}
/*
* {
	box-sizing: border-box;
	animation: fadeIn 0.5s;
} */

.use-cases {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.use-cases .use-case {
	margin: 0 15px;
}

.custom-suggestions {
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 0;
}

.custom-suggestions--active {
	background-color: #19b5fe;
}

.custom-suggestions li {
	text-align: left;
}

.custom-suggestions li:hover {
	background-color: #19b5fe;
}

.input {
	border: 0;
	border-radius: 4px;
	color: #111;
	font-size: 16px;
	line-height: 16px;
	outline: 0;
	padding: 10px 12px;
	position: relative;
	text-align: left;
	width: 230px;
}

.input::placeholder {
	color: #cfcfcf;
	text-align: center;
}

.input__marker {
	background-color: white;
  color:silver;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 4px 12px 4px 6px;;
	position: absolute;
	transform: translate(-4px, 16px);
  text-align:left;
	transition: top 0.1s ease 0s, left 0.1s ease 0s;
	white-space: nowrap;
	width: auto;
	z-index: 9999;
}

.input__marker--custom {
	transform: translate(16px, 16px);
}

.input__marker--custom:after {
	display: none;
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
