.form-preview {
  width: calc(100% - 420px);
  padding: 30px;
  overflow: scroll;
}

.form-preview .field {
  margin: 20px 0;
}

.form-preview .field label {
  color: black;
}

.form-preview > h3 {
  text-align:center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: normal;
}

.form-preview .field input[type='text'], .form-preview .field input[type='number'] {
  line-height: 26px;
  width: fit-content;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 1rem;
  padding: 9px;
  margin-top: 5px;
}

.form-preview .field label:not(.checkbox-label) {
  display:block;
}

.form-preview .field label.checkbox-label {
  margin-right: 5px;
}

.form-preview-actual-form {
  padding: 10px 30px;
  border-radius: 10px;
  width:fit-content;
  margin:auto;
  /* border: 1px solid silver; */
  /* box-shadow: 0 15px 35px 0 rgba(42,51,83,.12),0 5px 15px rgba(0,0,0,.06)!important; */
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.2) !important;
}

.empty-warning {
  font-style: italic;
}

#QQ-price { font-size:35px; margin-left:5px;text-align:right;margin:0}
#QQ-price.animating { animation-name: swing; animation-duration: 1s; }
#QQ-price-whole-digits { font-size:35px; line-height:35px;display:inline-block;margin-left:5px;}
#QQ-price-decimal-digits { font-size:15px; display: inline-block; vertical-align: super;}
#QQ-price-dollar-sign { font-size:15px; display: inline-block; }
.QQ-button.primary {
  padding: 0.75rem;
  font-size:1em;
  border-width: 0;
  border-radius: 0.25rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #91c0ef;
  box-shadow:0px 2px 6px 0px hsl(0deg 0% 0% / 20%)
}

.QQ-button.primary:disabled {
  opacity: 0.3;
}

.QQ-button.primary:focus, .QQ-button.primary:active {
  outline:none;
}